{% extends 'base.html.twig' %}

{% block title %}Hello to my WebSite!{% endblock %}

{% block body %}

<div style="padding:20px;">
    <h1>Hello to my WebSite</h1>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet interdum felis, sit amet finibus ex. Aenean id ipsum tortor. Praesent semper dolor nec dolor aliquam, vitae scelerisque odio semper. Phasellus fermentum gravida neque, in sodales dui vulputate in. Curabitur tincidunt augue in interdum aliquam. Aliquam lacus ex, eleifend nec orci ac, eleifend laoreet metus. Nulla nec massa condimentum, pharetra eros eget, tristique sem. Sed placerat iaculis libero, ac blandit enim varius quis. Aliquam elementum dolor lectus.
    </p>   
</div>
{% endblock %}
